@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&family=DynaPuff:wght@400..700&display=swap');
body {
    background-color: #ACC8E5;
}
h1 {
    font-family: "DynaPuff", system-ui;
}
a {
    font-family: "Comic Relief", system-ui;
}
p {
    font-family: "Comic Relief", system-ui;
}
h2 {
    font-family: "DynaPuff", system-ui;
}
footer {
    font-family: "Comic Relief", system-ui;
}
h3 {
    font-family: "DynaPuff", system-ui;
}