@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&family=DynaPuff:wght@400..700&display=swap');
body {
    background-color: #ACC8E5;
}
h1 {
    font-family: "DynaPuff", system-ui;
    color: #112a46
}